<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 py-5">
            <div class="card mb-4 p-0 border-0">
                <img src="../../assets/images/Welcome-img.jpg" class="p-0  img-fluid" alt="">

                <!--Welcome Page-->
                <ng-container>
                    <div
                        class="card-img-overlay w-75 mx-auto text-center d-flex flex-column align-content-center justify-content-between">
                        <img class="img-fluid" src="../../assets/images/Logo.png" alt="">
                        <p class="text-white ">
                            Now watch your favorite movies or series on one platform. Watch it Anytime Anywhere.
                        </p>
                    </div>
                </ng-container>
            </div>
            <div class="px-3">
                <button routerLink="/Login" class="btn w-100 py-2 btn-primary">Get
                    Started</button>
            </div>
        </div>
    </div>
</div>